# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- listed popular data science languages
-few examples of evaluating arithmetic expressions in Pythonm
commonly used librariesem

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. scikit-learn

| Data Science Tools |
|:--------:|
|Jupyter Notebook 1   |
RStudiow 2   |Visual Studio Codeow 3   |

# Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

## Author

Vatsal Chaudhari